/* Стили для контейнера контента хедера  */
.container {
    margin: 20px 0 10px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

/* Стили для логотипа  */
.logo {
    width: 40px;
    height: 40px;
}

/* Стили для ссылок навигации */
.headerLink {
    color: var(--slate-800);
    font-size: 18px;
    text-align: center;
    margin-right: 20px;

    &:hover {
        text-decoration: none;
    }
}

/* Стили для ссылок(компонент NavLink) в активном(когда нажали на необходимую ссылку и произошёл переход на страницу) состоянии */
.active {
    font-weight: bold;
    color: var(--slate-800);
    font-size: 18px;
    text-align: center;
    margin-right: 20px;
    
    &:hover {
        text-decoration: none;
    }
}